@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Style+Script&display=swap');

.container {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #050443;
    font-family: 'Style Script';
}

.title_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.title {
    padding: 0;
    width: 100%;
    margin: 0;
    color: #050443;
    font-size: 3rem;
    font-family: 'Style Script';
}

.btnContainer {
    width: 80%;
}

.subcontainer {
    overflow: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 60vh;
    width: 100%;
}

.subcontainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
}

.subcontainer form div {
    display: flex;
    width: 80%;
    margin-bottom: 1rem;
}

.subcontainer form label {
    font-size: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    width: 38%;
}

.subcontainer form input {
    width: 62%;
    color: #e3c67c;
}

.submitbutton {
    background-color: #050443;
    border: 0;
    border-radius: .5rem;
    font-weight: 800;
    color: #e3c67c;
    padding: 20px 36px;
    font-size: 18px;
    cursor: pointer;
    transition: opacity .3s ease;
    margin-top: .3rem;
    width: 100%;
}