@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Style+Script&display=swap');

.access_container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.access_subcontainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
}

.access_title_container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.access_title {
    padding: 0;
    width: 100%;
    margin: 0;
    color: #050443;
    font-size: 3rem;
    font-family: 'Style Script';
}

.access_btnContainer {
    margin-bottom: 1rem;
    width: 80%;
}

.access_subcontainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
}

.access_subcontainer form input {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 3rem;
    margin-bottom: 1rem;
}

.access_subcontainer form label {
    font-size: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    width: 38%;
}

.access_subcontainer form input {
    width: 80%;
    color: #e3c67c;
}

.access_submitbutton {
    background-color: #050443;
    border: 0;
    border-radius: .5rem;
    font-weight: 800;
    color: #e3c67c;
    font-size: 18px;
    cursor: pointer;
    transition: opacity .3s ease;
    margin-top: .3rem;
    width: 100%;
}

.access_othertexts {
    display: flex;
    align-items: center;
    width: 80%;
    height: 3rem;
    justify-content: space-between;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: .8rem;
}

.access_subcontainer .access_loginerrormsg {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    text-align: center;
    margin: 0;
    padding: 1rem;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: .5;
    width: 80%;
    border-radius: .3rem;
}

.access_loginGoogle {
    border: none;
    margin: 0;
    padding: .2rem;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    text-align: center;
    width: 80%;
    height: 3.1rem;
    display: flex;
    border-radius: .5rem;
    justify-content: center;
    align-items: center;
    background-color: #050443;
    color: #e3c67c;
    font-size: 16px;
    cursor: pointer;
    transition: opacity .3s ease;
    font-weight: 800;
}