@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Style+Script&display=swap');

.container {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #050443;
    font-family: 'Style Script';
}

.title_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.title {
    padding: 0;
    width: 100%;
    margin: 0;
    color: #050443;
    font-size: 3rem;
    font-family: 'Style Script';
}

.btnContainer {
    width: 80%;
}

.subcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 100%;
}

.subcontainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
}

.subcontainer form input {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 3rem;
    margin-bottom: 1rem;
}

.subcontainer form label {
    font-size: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    width: 38%;
}

.subcontainer form input {
    width: 62%;
    color: #e3c67c;
}

.submitbutton {
    background-color: #050443;
    border: 0;
    border-radius: .5rem;
    font-weight: 800;
    color: #e3c67c;
    font-size: 18px;
    cursor: pointer;
    transition: opacity .3s ease;
    margin-top: .3rem;
    width: 100%;
}

.othertexts {
    display: flex;
    align-items: center;
    width: 60%;
    height: 3rem;
    justify-content: space-between;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: .8rem;
}

.subcontainer .loginerrormsg {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    text-align: center;
    margin: 0;
    padding: 1rem;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: .5;
    width: 80%;
    border-radius: .3rem;
}

.loginGoogle {
    border: none;
    margin: 0;
    padding: .2rem;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    text-align: center;
    width: 62%;
    height: 3.1rem;
    display: flex;
    border-radius: .5rem;
    justify-content: center;
    align-items: center;
    background-color: #050443;
    color: #e3c67c;
    font-size: 16px;
    cursor: pointer;
    transition: opacity .3s ease;
    font-weight: 800;
}